---
import "@/styles/footer.scss"
import IconDecoration1 from "@/assets/decorations/IconDecoration1.astro";
import IconDecoration2 from "@/assets/decorations/IconDecoration2.astro";
import FooterDecoration from "@/assets/decorations/FooterDecoration.astro";
import {getEntry} from "astro:content";
import TelegramIcon from "@/assets/icons/system/TelegramIcon.astro";
import EmailIcon from "@/assets/icons/system/EmailIcon.astro";
import WhatsappIcon from "@/assets/icons/system/WhatsappIcon.astro";
import GithubIcon from "@/assets/icons/system/GithubIcon.astro";
import LinkedinIcon from "@/assets/icons/system/LinkedinIcon.astro";
const locale = Astro.currentLocale!;
const [info, person] = await Promise.all([
    getEntry("info", locale),
    getEntry("person", locale)
])
const currentYear = new Date().getFullYear();
if(!info || !person) return Astro.redirect("404")
---
<footer>
    <figure class="left">
        <IconDecoration1/>
    </figure>
    <figure class="right">
        <IconDecoration2/>
    </figure>
    <figure class="center">
        <FooterDecoration/>
    </figure>
    <div class="footer_content-container">
        <div class="contact">
            <p>E-Mail: {info.data.email}</p>
            <p>Phone: {info.data.phone}</p>
        </div>
        <div class="social">
            <figure>
                <img src="/logo.svg" alt="janz icon" width="32"/>
            </figure>
            <div>
                <a target="_blank" href={info.data.telegram_link}><TelegramIcon/></a>
                <a target="_blank" href={info.data.email}><EmailIcon/></a>
                <a target="_blank" href={info.data.whatsapp_link}><WhatsappIcon/></a>
                <a target="_blank" href={info.data.github_link}><GithubIcon/></a>
                <a target="_blank" href={info.data.linkedin_link}><LinkedinIcon/></a>
            </div>
        </div>
        <div class="sitemap">
            <h3>sitemap</h3>
            <a href="/#home">home</a>
            <a href="/#about">about me</a>
            <a href="/#services">services</a>
            <a href="/#career">career</a>
            <a href="/#projects">projects</a>
            <a href="/#contact">contact</a>
            <a href="/resume">resume</a>
        </div>
    </div>
</footer>
<div class="cc">
    <p>&copy; {currentYear} Juan C. Zuñiga. Built with Astro. All rights reserved.</p>
</div>
