---
import "@/styles/about.scss";
import SectionLayout from "@/layouts/SectionLayout.astro"
import AboutProfileCard from "@/components/about/AboutProfileCard.astro";
import profile from "@/assets/pictures/IMG-20251116-WA0038.jpg"
import {getEntry} from "astro:content";
import AboutCard from "@/components/about/AboutCard.astro";
import SmileUserIcon from "@/assets/icons/system/SmileUserIcon.astro";
interface Props{
    name: string,
    title: string
}
const locale = Astro.currentLocale!;
const personEntry = await getEntry("person", locale);
if(!personEntry) return;
const person = personEntry.data;
const {name, title} = Astro.props;
---
<SectionLayout id="about" section={name} title={title} left={-10} width={250}>
    <div class="about_container about_left">
        <AboutProfileCard src={profile.src} first_name={person.first_name} last_name={person.last_name}
                          email={person.email} position={person.position} />
        <AboutCard title={person.second_title}
                   description={[
                       `First Name: ${person.first_name}`,
                       `Last Name: ${person.last_name}`,
                       `Email: ${person.email}`,
                       `Phone: ${person.phone}`,
                       `Birthday: ${person.birthday}`,
                       `Linkedin: ${person.linkedin}`,
                       `Github: ${person.github}`,
                       `Spanish: ${person.spanish}`,
                       `English: ${person.english}`,
                       `Work Mode: ${person.work_mode}`,
                       `${person.relocation}`
                   ].join("\n")} >
            <figure>
                <SmileUserIcon/>
            </figure>
        </AboutCard>
        <AboutCard title={person.title} description={person.description} >
            <figure>
                <img src="/logo.svg" alt="logo" />
            </figure>
        </AboutCard>
    </div>
</SectionLayout>